<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
              integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
              crossorigin="anonymous"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-light bg-light" style="height: 100px;">
    <a class="navbar-brand" href="{{ path('app_homepage') }}">
        <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
        <p class="pl-2 d-inline font-weight-bold" style="color: #444;">Symfony-5</p>
    </a>
    <button class="btn btn-dark">Sign up</button>
</nav>

{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center">
    Made with <i style="color: red;" class="fa fa-heart"></i>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
